* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Intestazione */
body{
    height: 100vh;
}

.intestazione{
    padding: 10px;
    height: 10vh;
}

.intestazione img{
    vertical-align: middle;
}

.titolo{
    font-size: 40px;
    line-height: 30px;
    vertical-align: middle;
}
/* stile corpo principale */
.principale{
    background-color: rgba(205, 221, 230, 0.644);
    height: 95vh;
    padding-top: 50px;
}

.tasto{
    background-color: white;
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1px;
    padding: 10px 50px;
    border-radius: 5px 5px 0 0;
}

.lista{
    background-color:white;
    margin-left: 200px;
    margin-right: 200px;
    height: 575px;
    padding: 0px 50px;
    border-radius: 0px 0px 5px 5px;   
}

.button {
    padding: 6px 10px;
    border: 1px;
    border-radius: 5px;
}

.blue {
    background-color: rgb(44, 126, 235);
    color: white;
    border: 1px solid rgb(44, 126, 235);
}

.white {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.spunta {
    border: 1px solid #01afab;
    border-radius: 50%;
    font-size: 15px;
    color: #01afab;
    padding: 1px 3px;
}

.lista-2{
    padding: 8px;
    margin-bottom: 5px;
}

.button-b{
    background-color: rgb(44, 126, 235);
    color: white;
    border: 5px solid rgb(44, 126, 235);
    border-radius: 10px;
}

.viola{
    background-color:violet;
    color: white;
    border: 5px solid violet;
    border-radius: 10px;
}

.x{
    border: 1px solid red;
    border-radius: 50%;
    font-size: 15px;
    color: red;
    padding: 1px 3px;
}
.green{
    background-color: green;
    color: white;
    border: 5px solid green;
    border-radius: 10px;
}

.orange{
    background-color:orange;
    color: white;
    border: 5px solid orange;
    border-radius: 10px;
}

h3{
    margin-bottom: 10px;
}