* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}



.intestazione{
    padding: 10px;
    height: 10vh;
    
}

.titolo{
    font-size: 40px;
    
}

.principale{
    background-color: rgba(205, 221, 230, 0.644);
    height: 95vh;
    padding-top: 50px;
}

.tasto{
    background-color: white;
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1px;
    padding: 10px 50px;
    border-radius: 5px 5px 0 0;
}

.lista{
    background-color:white;
    margin-left: 200px;
    margin-right: 200px;
    height: 620px;
    padding: 0px 50px;
    border-radius: 0px 0px 5px 5px;   
}

.button {
    padding: 6px 10px;
    border: 1px;
    border-radius: 5px;
}

.blue {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.white {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.spunta {
    border: 1px solid #01afab;
    border-radius: 50%;
    font-size: 15px;
    color: #01afab;
}
    
    
